
        <div>
            <a href="/">Home</a>
            <a href="/profile">Profil</a>
            <a href="/tampilCart">Keranjang</a>
            <a href="/history">history</a>
        </div>
    